<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Sun Feb 09 2014 21:12:56 GMT+0000 (UTC) -->
<html data-wf-site="52f7e73140e0a1e36400001b">
<head>
  <meta charset="utf-8">
  <title>oh-calendar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/webflow.css">
  <link rel="stylesheet" type="text/css" href="/css/oh-calendar.webflow.css">
  <link rel="stylesheet" type="text/css" href="/css/officehours.css">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.css" rel="stylesheet">
  <link href="/css/officehours.css" rel="stylesheet">
  
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body>
  <div class="header">
    <h1>CS103 Calendar</h1>
  </div>
{{#each schedule}}
  <h3> {{day}}</h3>
    {{#if past}}
     <div class="officehours">
      {{else }}
      {{#if current}}
        <div class="officehours current">
      {{else}}
        <div class="officehours upcoming">
      {{/if}}
      {{/if}}
    <h4>{{ta}}'s Office Hours</h4>
    <div class="time">{{startTime}}-{{endTime}}</div>
    <div class="descriptortext">Location: {{location}}</div>
    {{#if current}}
    <br><a class="button attendbutton" href="/queue">Join!</a>
    <br><br>
    {{/if}}
  </div>
  {{/each}}

 
{{>navBar}}
</body>
</html>